<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AdministratorMapper">
    <!-- 一覧表示 -->
    <select id="findAll" resultType="Administrator">
        select id, name, mail_address, password from administrators
    </select>
    <!-- id検索して取得 -->
    <select id="findById" parameterType="Int" resultType="Administrator">
        select id, name, mail_address, password from administrators where id = #{id}
    </select>
    <!-- 管理者登録 -->
    <insert id="insert" parameterType="com.example.demo.entity.Administrator" useGeneratedKeys="true" keyProperty="id">
        insert into administrators (name, mail_address, password) values (#{name}, #{mailAddress}, #{password})
        returning id
    </insert>
    <!-- 管理者削除 -->
    <delete id="delete" parameterType="Int">
        delete from administrators where id = #{id}
    </delete>
</mapper>
